unix_socket_connect(hal_sensors_default, sensors, sensors)

allow hal_sensors_default sysfs:file w_file_perms;
allow hal_sensors_default device:chr_file ioctl;
allow hal_sensors_default sensors_socket:sock_file read;
allow hal_sensors_default apk_data_file:dir { search read };
allow hal_sensors_default property_socket:sock_file rw_file_perms;
allow hal_sensors_default init:unix_stream_socket { connectto };
allow hal_sensors_default sysfs:file { getattr read };
allow hal_sensors_default system_prop:property_service set;
