qmux_socket(mediaserver)

allow mediaserver vendor_file:file execmod;
allow mediaserver system_file:file execmod;

allow mediaserver hal_camera_default:binder { call transfer };

allow mediaserver self:netlink_kobject_uevent_socket { bind create getopt read setopt };
allow mediaserver system_server:unix_stream_socket { read write };
allow mediaserver system_data_file:sock_file w_file_perms;

unix_socket_send(mediaserver, camera, mm-qcamerad)
unix_socket_send(mediaserver, mpdecision, mpdecision)

allow mediaserver graphics_device:dir r_dir_perms;
allow mediaserver socket_device:sock_file w_file_perms;
allow mediaserver mm-qcamerad:unix_dgram_socket sendto;
allow mediaserver init:unix_dgram_socket sendto;
allow mediaserver audio_device:chr_file rw_file_perms;
allow mediaserver camera_device:chr_file rw_file_perms;
allow mediaserver ion_debugfs:file r_file_perms;
allow mediaserver tee_device:chr_file rw_file_perms;
allow mediaserver sensorservice_service:service_manager find;
allow mediaserver system_server:service_manager find;

allow mediaserver mediaserver:fd use;

binder_call(mediaserver, servicemanager);
binder_call(mediaserver, sensorservice_service);
binder_call(mediaserver, system_server);

set_prop(mediaserver, camera_prop)
