type devlog_file, file_type;
type ramdump_file, file_type;
type firmware_file, file_type;
type persist_file, file_type;
type tombstones_file, file_type;